@page "/"
@namespace Asteroids.Blazor.Electron.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Asteroids.Blazor.Electron</title>
    <base href="~/" />
</head>
<body style="margin:0px; overflow:hidden;">
<app>
    <component type="typeof(App)" render-mode="Server" />
</app>

@* https://github.com/ElectronNET/Electron.NET/issues/823 *@
<script>process = undefined;</script>
<script src="_framework/blazor.server.js"></script>

<script src="_content/Asteroids.BlazorComponents/JsInteropAsteroidsKeyPress.js"></script>
<script src="_content/Asteroids.BlazorComponents/JsInteropAsteroidsSound.js"></script>
<script src="_content/Asteroids.BlazorComponents/JsInteropAsteroidsWindow.js"></script>

</body>
</html>